@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="menu">
    <div class="topTxt">
        Menu
    </div>
    <hr>
    Statistics
    <br />
    Something Else
</div>

<div id="content">
    <div class="tab"> Ads </div>
    <div class="tab"> Clients </div>
</div>