@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div id="menu">
        <div class="topTxt">
            Menu
        </div>
        <hr>
        Home
        <br />
        Statistics
        <br />
        <b>Adds</b>
        <br />
        Clients
        <br />
        Playlists
    </div>

    <div id="content">
        <div class="tab"> Upload </div>
        <div class="tab"> Update </div>
        <div class="contentBox">

            @{
                ((HomeController)this.ViewContext.Controller).UploadFileToRemoteLocation();
            }

            @using (Html.BeginForm("UploadFiles", "HomeController", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="file" name="file" />
                <input type="submit" value="OK" />
            }

            <form method="post" enctype="multipart/form-data" asp-controller="UploadFiles" asp-action="Index">
                <div class="form-group">
                    <div class="col-md-10">
                        <p>Upload one or more files using this form:</p>
                        <input type="file" name="files" multiple />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" value="Upload" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>