body {
    background-color:#EEEEEE;
    font-family:"Verdana";
    text-align:center;
}

input {
    text-align:center;
    max-width:50%;
    width:50px;
    height:30px;
    font-size:20px;
}

#menu {
    width: 20%;
    vertical-align: top;
    border-style: solid;
    border-color: black;
    display: inline-block;
    text-align: left;
    border-width: 0.5px;
}

#content {
    width: 75%;
    vertical-align: top;
    display: inline-block;
    text-align: left;
}

.contentBox {
    vertical-align: top;
    border-style: solid;
    border-color: black;
    border-width: 0.5px;
    text-align: left;
    height: 500px;
}

.tab {
    padding:5px;
    vertical-align: top;
    border-style: solid;
    border-bottom-style: none;
    border-color: black;
    border-width: 0.5px;
    display: inline-block;
    text-align: left;
}

.checkbox {
    max-width:50%;
    width:20px;
    height:20px;
    margin-top:15px;
}

.buttonLink {
    color:black;
    text-decoration:none;
}

.button {
    display:inline-block;
    width:25%;
    min-width:200px;
    height:25%;
    font-size:36px;
    margin:15px;
    background-color:#EEEEEE;
    color:black;
    text-align:center;
    cursor:pointer;
    box-shadow:0.5px 0.5px 1px 1px grey;
}

#home {
    width:30px;
    height:30px;
    position:relative;
}

table {
    width:100%;
    font-size:16px;
    margin-bottom:10px;
}

table, th, td {
    border:1px solid black;
    border-collapse:collapse;
    text-align:center;
}

th, td {
    max-width:25%;
    padding-top:5px;
    padding-bottom:5px;
}

table tr:nth-child(even) {
    background-color:#F9F9F9;
}

table tr:nth-child(odd) {
    background-color:#EEEEEE;
}

table th {
    background-color:#0F5896;
    color:white;
}