<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ServerService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www12.steenhoff.dk:4880/AdProgram/Service/Server Service/ServerService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ServerService"
                contract="IServerService" name="BasicHttpBinding_ServerService" />
        </client>
    </system.serviceModel>
</configuration>